<app-navbar></app-navbar>
<app-loader *ngIf="loading"></app-loader>
<div *ngIf="user && !loading">
  <div class="card">
    <div class="row">
      <div class="col-md-3 image-container text-center">
        <div class="card-block">
          <img class="image" class="img-thumbnail github-avatar" [src]="user.avatar_url">
        </div>
      </div>
      <div class="col-md-9">
        <div class="card-block">
          <div class="row">
            <div class="col-sm-12">
              <h4 class="card-title">{{user.name || user.login}}</h4>
            </div>
            <div class="col-md-12 text-right mb-2">
              <span class="badge badge-pill badge-default">{{user.public_repos | number : fractionSize}} Public Repos</span>
              <span class="badge badge-pill badge-primary">{{user.public_gists | number : fractionSize}} Public Gists</span>
              <span class="badge badge-pill badge-warning">{{user.followers | number : fractionSize}} Followers</span>
              <span class="badge badge-pill badge-success">{{user.following | number : fractionSize}} Following</span>
            </div>
          </div>
          <ul class="list-group">
            <li class="list-group-item"><strong>Username: </strong><span> {{user.login}}</span></li>
            <li class="list-group-item"><strong>Location: </strong><span> {{user.location}}</span></li>
            <li class="list-group-item"><strong>Email: </strong><span> {{user.email}}</span></li>
            <li class="list-group-item">
              <strong>Blog: </strong>
              <a [href]="user.blog" target="_blank">
                      <span> {{user.blog}}</span>
                    </a>
            </li>
            <li class="list-group-item"><strong>Member Since: </strong><span> {{user.created_at | date}}</span></li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="text-center mt-4 mb-4">
    <h4>Repositories</h4>
  </div>
  <div class="card" *ngFor="let repo of repos">
    <div class="row">
      <div class="col-sm-12">
        <div class="card-block">
          <div class="row">
            <h4 class="card-title col-sm-9"><a href="{{repo.html_url}}" target="_blank">{{repo.name}}</a></h4>
            <div class="col-sm-3 text-right">
              <span class="badge badge-pill badge-primary"><i class="fa fa-code-fork"></i> {{repo.forks | number : fractionSize}}</span>
              <span class="badge badge-pill badge-success"><i class="fa fa-eye"></i> {{repo.watchers | number : fractionSize}}</span>
            </div>
          </div>
          <p class="card-text">{{repo.description}}</p>
        </div>
      </div>
    </div>
  </div>
</div>
<div *ngIf="!user && !loading" class="text-center mt-4">
  <h4> No user found with the given name </h4>
</div>
<simple-notifications [options]="options"></simple-notifications>